h1 {
	text-align: center;
}

.navbar {
	padding: 20px;
	margin-bottom: 20px;
	background: #008cba;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.navbar .create {
	color: #fff;
	font-size: 1.5rem;
}

.navbar .navbar-brand {
	color: #fff;
	font-size: 2rem;
}

.navbar-brand:hover, .create:hover {
	color: rgba(255, 255, 255, 0.8);
}

.form-container {
	width: 400px;
	margin: 20px auto;
}

.note-container {
	text-align: center;
	margin-top: 20px;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
}

.grid {
	padding: 0.5rem 1rem;
}